@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body
{
   background-color: #222831;
}
.header{
    background-color: #222831;
    display: flex;
    justify-content: space-between; 
}
.header .logo{
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 48px;
    padding-bottom: 48px;
    font-family: "Oswald", sans-serif;
}
.header .logo .title{
    color: white;
    font-size: 24px;
}
.header .nav-link{
    font-size: 18px;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    gap: 48px;
}
.header .nav-link a{
    color: white;
    text-decoration: 0px;
}
.hero .display{
    display: flex;
    justify-content: flex-start
}
.hero .display .photo1{
    padding-top: 130px;
    padding-right: 30px;
}
.hero .display .content{
    display: flex;
    padding-left: 100px;
}
.hero .display .content .text{
    padding-top: 180px;
}
.hero .display .content .arrow{
    padding-top: 225px;
}


.hero .display .content .text .creative .creative-ul{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 550;
}
.hero .display .content .text .creative .design{
    color: #00ADB5;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 550;
    line-height: 0.5;
}
.hero .display .content .text .creative .HD{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.hero .display .content .text .creative .HD .hire-me{
    color: white;
    font-size: 18px;
    font-weight: 20;
    background-color:#00ADB5;
    font-family: "Poppins-Bold", sans-serif;
    border-radius:24px;
    padding: 10px 32px 10px 32px;
    cursor:pointer;
    
}
.hero .display .content .text .creative .HD .download .download-cv{
    color: #eeeeee;
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 18px;
    font-weight: 20;
    cursor:pointer;
}
.hero .display .content .text .creative .HD .download{
    display: flex;
    gap: 10px;
    background: rgba(57, 62, 70, 0.75);
    border-radius: 24px;
    padding: 10px 32px 10px 32px;
    align-items: center;
    justify-content: flex-start;  
}
.blew{
    display: flex;
    padding-left: 440px;
}
.m{
    padding-left: 80px;
    padding-top: 150px;
}
.about{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 200px;
}
.left-side{
    padding-top: 50px;
}
.left-side .about-me{
    display: flex;
    gap: 20px;
}
.lamp{
    padding-top: 35px;
    height: 64px;
    width: 64px;
}
.about-me .about1{
    color: white;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
}
.about-me .me{
    color: #00ADB5;
    font-size: 70px;
    font-weight: 550;
}
.left-side p{
    color: #eeeeee;
    width: 55%;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
}
.left-side .Read{
    font-weight: 700;

}
.left-side .vector{
    padding-left: 170px;
    padding-top: 120px;
}

.recent-work{
    background-image: url("img/Group\ 2374.png");
    padding-top: 300px;
    padding-bottom: 300px;
    
}
.recent-work .main{
    padding-left: 80px;
}
.recent-work .name .title1{
    color: white;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.name .title1 .w{
    color: #00ADB5;
}
.name .nav{
    display: flex;
    color: #eeeeee;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    gap: 15px;

}
.name .nav .UI{
    background: rgba(57, 62, 70, 0.75);
    border-radius: 24px;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
}
.name .nav .UX{
    background: rgba(57, 62, 70, 0.75);
    border-radius: 24px;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
}
.name .nav .w-d{
    background: rgba(57, 62, 70, 0.75);
    border-radius: 24px;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
}
.name .nav .all{
    background: #00ADB5;
    border-radius: 24px;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
}
.recent-work .pic{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
}
.recent-work .pic .p0{
    background: rgba(57, 62, 65, 0.75);
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
.recent-work .pic .p1{
    background: rgba(57, 62, 65, 0.75);
    padding-left: 1px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
.recent-work .pic .p2{
    background: rgba(57, 62, 65, 0.75);
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
